@page
@model Assignment03.Pages.Login.IndexModel
@{
}
<h1>Login</h1>
<form method="post">
        <div class="d-flex">
            <input type="text" name="username"/>
            <input type="text" name="password"/>
            <button type="submit" class="btn btn-secondary">Import</button>
        </div>
</form>